footer
    h4 Esta pagina está hecha por Alberto Diez Alcobendas
    p @copyright 2025 - Todos los derechos reservados
    a(href="https://www.linkedin.com/in/alberto-diez-alcobendas-8b7340209/" target="_blank") Visita mi LinkedIn   
    a(href="https://github.com/AlbeertoDZ/" target="_blank") Visita mis repositorios de GitHub